<style>
form label{
display: inline-block;
width: 100%;
font-weight: bold;
color: black;
}
</style>
<div class="log-form">
<%= form_tag('/user/login') do %>

  <%= label_tag 'User Name:'%>
  <%= text_field_tag :login %>
<p>
  <%= label_tag 'Password:'%>
  <%= password_field_tag :password %>

<%= submit_tag 'Log In'%>

<% end %>
</div>