<h1>The Register</h1>

<div class="filter-form">
  <%= form_tag('/transactions', :method => :get) do %>
    <%= select_month @start_date, {}, { onchange: 'this.form.submit()' } %>
    <%= select_year(@start_date, { start_year: Date.today.year-3, end_year: Date.today.year }, { onchange: 'this.form.submit()' }) %>
    <%= check_box_tag :untagged, '1', @untagged, onchange: 'this.form.submit()' %>
    <%= label_tag :untagged, 'Untagged only' %>
  <% end %>
</div>

<% if @untagged %>
  <p><em>Showing untagged transactions only</em></p>
<% end %>

<table class="data-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Tag</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @txs.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.account.name %></td>
        <% tx_payee = transaction.payee %>
        <td><%= best_in_place tx_payee, :friendly_name %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= best_in_place transaction, :tag_list, :place_holder => "<b>** (TAG) **</b>" %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Delete', transaction_path(transaction),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'danger-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
