<!DOCTYPE html>
<html>
  <head>
    <title>Fizzcle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag 'fizzcle' %>
  </head>
  <body>

    <nav class="main-nav">
      <%= link_to "Fizzcle", { controller: "main", action: "index" }, class: "nav-brand" %>
      <div class="nav-links">
        <%= link_to "Accounts",  controller: "accounts",     action: "index" %>
        <%= link_to "Register",  controller: "transactions",  action: "index" %>
        <%= link_to "Reports",   controller: "report",        action: "index" %>
        <%= link_to "Payees",    controller: "payees",        action: "index" %>
      </div>
      <div class="nav-logout">
        <%= link_to "Logout", controller: "user", action: "logout" %>
      </div>
    </nav>

    <main class="page-wrapper">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="site-footer">
      &copy; <%= Date.today.year %> Fizzcle
    </footer>

  </body>
</html>
