<!DOCTYPE html>
<html>
  <head>
    <title>Fizzcle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'fizzcle' %>
  </head>
  <body>

    <div class="login-page">
      <div class="login-brand">Fizzcle</div>
      <% if flash[:notice] %>
        <div class="notice login-notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
