<!DOCTYPE html>
<html>
<head>
  <title>Fizzcle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
<style type="text/css">

</style>
-->
</head>
<body>
<h1>
<%= image_tag "dollar_sign1.jpg" %>
<b>Fizzcle</b>
</h1>
<hr />

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= yield %>
<p>

</body>
</html>
